footer{
    background-color: white;
    padding: 20px 15px 10px;
}
footer section{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 30px;
}
footer section:last-child{
    text-align: start;
}
footer section i{
    color:var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}
footer section h3, footer section p{
    color:var(--grisOscuro)
}

 